.confirmation {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}

.confirmation__img {
  width: 5.6rem;
  height: 5.6rem;
  margin-bottom: 2.4rem;
}

@media (min-width: 768px) {
  .confirmation__img {
    width: 8rem;
    height: 8rem;
    margin-bottom: 3.2rem;
  }
}
