.summary__content {
  background-color: var(--color-blue-50);
  border-radius: 0.8rem;
  padding: 2.2rem 2.4rem;
}

.summary__plan {
  border-bottom: 1px solid var(--color-grey-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
}

.summary__plan h2 {
  color: var(--color-blue-950);
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0.4rem;
}

.summary__change {
  color: var(--color-grey-500);
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.summary__change:hover {
  color: var(--color-purple-600);
}

.summary__plan-price {
  color: var(--color-blue-950);
  font-size: 1.4rem;
  font-weight: 700;
}

.summary__add-ons {
  padding-bottom: 1.6rem;
}

.summary__empty {
  color: var(--color-grey-500);
  font-size: 1.4rem;
}

.summary__add-on {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary__add-on:not(:last-child) {
  margin-bottom: 1.6rem;
}

.summary__add-on-name {
  color: var(--color-grey-500);
  font-size: 1.4rem;
}

.summary__add-on-price {
  color: var(--color-blue-950);
  font-size: 1.4rem;
}

.summary__total {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary__total-name {
  color: var(--color-grey-500);
  font-size: 1.4rem;
}

.summary__total-price {
  color: var(--color-purple-600);
  font-size: 1.6rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .summary__plan h2 {
    color: var(--color-blue-950);
    margin-bottom: 0.8rem;
  }

  .summary__plan-price {
    font-size: 1.6rem;
  }

  .summary__total-price {
    font-size: 2rem;
  }
}
