@media (min-width: 768px) {
  .form {
    background-color: var(--color-white);
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 20.6rem 34.8rem;
    grid-template-rows: 1fr auto;
    width: 100%;
    min-height: 55.7rem;
    column-gap: 4.2rem;
    padding: 1.6rem;
  }
}

@media (min-width: 1040px) {
  .form {
    background-color: var(--color-white);
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 27.4rem 45rem;
    grid-template-rows: 1fr auto;
    width: 100%;
    column-gap: 10rem;
    padding: 1.6rem;
    min-height: 60rem;
  }
}
