.plan__options {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.plan__option {
  border: 1px solid var(--color-purple-200);
  border-radius: 8px;
  padding: 1.2rem 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.plan__option input {
  opacity: 0;
  position: absolute;
}

.plan__option:has(input:checked) {
  background-color: var(--color-blue-50);
  border: 1px solid var(--color-purple-600);
}

.plan__option:hover {
  background-color: var(--color-blue-50);
  border: 1px solid var(--color-purple-600);
}

.plan__option span {
  color: var(--color-grey-500);
  font-size: 1.4rem;
  line-height: 120%;
  margin-bottom: 0.4rem;
  display: block;
}

.plan__free {
  color: var(--color-blue-950);
  font-size: 1.2rem;
}

.plan__action {
  background-color: var(--color-blue-50);
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 1.4rem 0;
}

.plan__action span {
  color: var(--color-grey-500);
  font-size: 1.4rem;
  font-weight: 500;
}

.plan__action span.active {
  color: var(--color-blue-950);
  font-size: 1.4rem;
  font-weight: 500;
}

.plan__switch {
  display: inline-block;
  width: 3.8rem;
  height: 2rem;
  position: relative;
}

.plan__switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.plan__switch span {
  background-color: var(--color-blue-950);
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  border-radius: 999px;
}

.plan__switch span::before {
  background-color: var(--color-white);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  top: 0.4rem;
  left: 0.4rem;
  position: absolute;
  content: "";
  display: inline-block;
}

.plan__switch input:checked + span::before {
  transform: translateX(1.8rem);
}
