.steps {
  background: url("../../assets/images/bg-sidebar-mobile.svg") no-repeat
    center/cover;
  height: 17.2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  padding: 3.2rem 0;
  justify-content: center;
  gap: 1.6rem;
}

.steps__number {
  color: var(--color-white);
  background: transparent;
  border: 1px solid var(--color-white);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.3rem;
  width: 3.3rem;
}

.steps__number span {
  color: inherit;
  font-size: 1.4rem;
  font-weight: 700;
}

.steps__number.active {
  color: var(--color-blue-950);
  background-color: var(--color-blue-200);
  border-color: var(--color-blue-200);
}

.steps h2 {
  display: none;
}

.steps p {
  display: none;
}

@media (min-width: 768px) {
  .steps {
    grid-column: 1;
    grid-row: 1 / -1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/images/bg-sidebar-desktop.svg") no-repeat
      center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem 2.4rem;
    gap: 3.2rem;
    border-radius: 10px;
  }

  .steps__step {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  .steps__number {
    flex-shrink: 0;
  }

  .steps__content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .steps p {
    display: block;
    color: var(--color-blue-300);
    font-size: 1.2rem;
    line-height: 120%;
    text-transform: uppercase;
  }

  .steps h2 {
    display: block;
    color: var(--color-white);
    font-size: 1.4rem;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}
